<h1>Olá, <%= @user.full_name %>!</h1>
<p>Uma recuperação de senha foi solicitada..</p>
<p>Use o código a seguir para continuar. Ele é válido por 10 minutos.</p>
<h2><strong><%= @code %></strong></h2>
<p>Se você não solicitou isso, pode ignorar este email com segurança.</p>
